@import "@css/layouts/container.scss";
@import "@css/components/texts.scss";
@import "@css/layouts/mediaQueries.scss";
@import "@css/layouts/flexBox.scss";
@import "@css/layouts/boxShadows.scss";


.container {
    @include default-background;
    @include flex-center;
    height: 100vh;
    width: 100%;
    padding: 25px;
    @include respond-below(tablet) {
        padding: 10px;
        justify-content: center;
        align-items: flex-start;
    }
}

.formContainer {
    @include card-background;
    @include reverse-color;
    @include responsive-flex(tablet);
    @include respond-below(tablet) {
        width: 96%;
        @include default-background;
    }
    @include respond-between(tablet, desktop) {
        width: 98%;
    }
    width: 85%;
}

.detailsArea {
    flex: 0 0 40%;
    padding: 50px 25px;
    @include flex-column;
    @include subText-l-color;
    @include respond-below(tablet) {
        flex: 0 0 100%;
        text-align: center;
        gap: 20px;
        padding: 25px 15px;
    }
    gap: 145px;
    h2 {
        @include heading-lm;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.25px;
    }
    p {
        @include heading-sm;
        letter-spacing: 0.2px;
    }
}

.form {
    flex-grow: 1;
    position: relative;
    .studentForm {
        position: absolute;
        width: 95%;
        padding: 10px;
        @include default-border;
        @include default-background;
        @include box-shadow-default;
        transform: translate(0, -25%);
        overflow: hidden;
        &:hover,
        &:active,
        &:focus {
          overflow-y: auto;
          overflow-x: hidden;
        }
        @include respond-below(tablet) {
            transform: none;
            position: relative;
            width: 100%;
            top: 0px;
            box-shadow: none !important;
            border: none !important;
        }
    }
}