@import "../../../css/components/buttons.scss";
@import "../../../css/layouts/flexBox.scss";

.button {
    display: block;
    margin: 3px;
    span {
        @include flex-center;
    }
    @include respond-below(phone) {
        width: calc(100% - 8px) !important;
    }
}

.text {
    @include flex-center;
    &.withIcon {
        @include flex-center;
        justify-content: space-between;
        width: 80%;
    }
}

.primary {
    &.block {
        @include button-custom(1, block);
    }
    &.hollow {
        @include button-custom(1, hollow);
    }
}

.secondary {
    &.block {
        @include button-custom(2, block);
    }
    &.hollow {
        @include button-custom(2, hollow);
    }
}

.cancel {
    &.block {
        @include button-custom(3, block);
    }
    &.hollow {
        @include button-custom(3, hollow);
    }
}

.cautious {
    &.block {
        @include button-custom(caution, block);
    }
    &.hollow {
        @include button-custom(caution, hollow);
    }
}

.message {
    &.block {
        @include button-custom(4, block);
    }
    &.hollow {
        @include button-custom(4, hollow);
    }
}

.whatsapp {
    &.block {
        @include button-custom(wa, block);
    }
    &.hollow {
        @include button-custom(wa, hollow);
    }
}