@import "@css/layouts/container.scss";
@import "@css/layouts/mediaQueries.scss";
@import "@css/layouts/flexBox.scss";
@import "@css/components/buttons.scss";
@import "@css/layouts/boxShadows.scss";
@import "@css/components/texts.scss";
@import "@css/components/tags.scss";

.container {
    @include main-container;
    @include flex;
}

.projectContainer {

    margin: auto;
    display: block;
    border-radius: 3px;
    padding: 20px 25px;
    width: 45%;
    @include default-border;
    @include box-shadow-default;
    @include highlight-background;
    // @include respond-above(desktop) {
    //     width: 26vw;
    //     max-width: 1200px;
    // }
    // @include respond-between(tablet, desktop) {
    //     width: 33vw;
    //     max-width: 1000px;
    // }
    // @include respond-between(phone, tablet) {
    //     width: 45vw;
    //     max-width: 800px;
    // }
    @include respond-below(phone) {
        width: 96%;
    }
    .projectCard {
        width: 100%;
    }
}

.flexTop {
    @include responsive-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    > div {
        @include flex;
        align-items: center;
    }
    .subHead {
        color: #8e4d99;
        padding: 0px 0px 0px 10px;
    }
    .image {
        max-height: 40px;
    }
}

.flexCenter {
    @include responsive-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    @include respond-above(phone) {
        button {
            width: 150px;
            float: right;
        }
    }
    @include respond-below(phone) {
        gap: 10px;
    }
}

.projectLocation {
    @include heading-sm;
    min-width: 50%;
    padding-left: 10px;
}

.projectLeader {
    @include heading-sm;
    min-width: 50%;
}

.projectDetails {
    @include heading-sm;
    min-width: 50%;
}

.pinIcon {
    @include heading-m;
    color: #8e4d99;
    padding-right: 5px;
}

.maps {
    height: 100vh;
    width: 55%;
    padding: 0px 20px 20px 20px;
    @include respond-between(phone, tablet) {
        position: fixed;
        padding: 4px;
        @include box-shadow-default;
        right: 10px;
        bottom: 0;
        height: 50vw;
        width: 50vw;
    }
    @include respond-below(phone) {
        display: none;
    }
}
