@import "@css/layouts/container.scss";
@import "@css/layouts/mediaQueries.scss";
@import "@css/layouts/flexBox.scss";
@import "@css/components/buttons.scss";
@import "@css/layouts/boxShadows.scss";
@import "@css/components/texts.scss";
@import "@css/components/tags.scss";
@import "@css/theme/colors";

.filterAndSearch {
    gap: 16px;
    width: 100%;
    margin: auto;
}

.search {
    @include default-border;
    border-radius: 20px;
    padding: 0 4px;
}

.filter {
    @include flex;
    gap: 16px;
    > div {
        flex-grow: 1
    }
}

.searchIcon {
    font-size: 18px
}

.container {
    @include flex;
    height: 100%;
}

.projectsContainer {
    > div {
        margin: 8px auto 16px;
    }
    height: calc(100% - 40px);
}

.infiniteLoader {
    max-height: 92vh;
    overflow: hidden;
    &:hover,
    &:active,
    &:focus {
      overflow-y: auto;
      overflow-x: hidden;
    }
    max-width: 45%;
    padding-left: 8px;
    @include respond-below(tablet) {
        max-width: 100%;
    }
}

.maps {
    width: 55%;
    padding: 10px 20px 20px 20px;
    @include respond-above(desktop) {
        height: calc(100vh - 4vw);
    }
    @include respond-between(tablet, desktop) {
        height: calc(100vh - 6vw);
    }
    @include respond-between(phone, tablet) {
        position: fixed;
        padding: 4px;
        right: 10px;
        bottom: 0;
        height: 50vw;
        width: 50vw;
    }
    @include respond-below(phone) {
        display: none;
    }
}

.noProjects,
.infiniteLoader {
    flex-grow: 1;
}
