@import "@css/layouts/container.scss";
@import "@css/layouts/mediaQueries.scss";
@import "@css/components/texts.scss";
@import "@css/components/buttons.scss";
@import "@css/layouts/flexBox.scss";
@import "@css/layouts/boxShadows.scss";
@import "@css/components/images.scss";

.imageCover {
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom right, rgba(24, 175, 207,0.4), rgba(125, 67, 228,0.4));
    padding: 100px;
    .image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        border-radius: 50%;
        overflow: hidden;
        @include default-border_radio;
        @include respond-above(phone) {
            width: 140px;
            height: 140px;
            @include flex-center;
        }
        @include respond-below(phone) {
            width: 130px;
            height: 130px;
            @include flex-center;
        }
        img {
            @include image-cover;
        }
    }
}

.account {
    padding: 80px 0 20px;
    width: 85%;
    margin: auto;
    @include respond-below(tablet) {
        width: 94%;
    }
}

.name {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.email {
    text-align: center;
    @include normal-content-size;
    @include subtext-color;
}

.aboutMe {
    @include default-border;
    margin: 25px 0;
    border-radius: 4px;
    padding: 16px;
    label {
        font-style: italic;
        @include heading-sm;
        @include subtext-color;
        padding-bottom: 12px;
    }
    p {
        @include normal-content-size;
    }
}

.social {
    @include flex;
    justify-content: flex-end;
    gap: 16px;
    .icon {
        @include default-color;
        opacity: 0.8;
    }
}

.editName {
    .input {
        width: 250px;
    }
    @include flex-column;
    align-items: center;
    > div {
        @include flex-center;
        gap: 16px;
    }
    text-transform: none;
    margin-bottom: 24px;
    gap: 10px;
}

.nameArea {
    padding-left: 16px;
    @include flex-center;
    gap: 16px;
    padding-bottom: 8px;
}
.icon {
    cursor: pointer;
    @include heading-m;
}

.imageArea {
    position: relative;
}

.edit {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    border-radius: 50%;
    opacity: 0.1;
    @include box-shadow-default;
    // @include default-overlay-background;
    // @include default-color;
    @include flex-center;
    i {
        @include heading-lm;
        color: white;
    }
    &:hover {
        opacity: 0.8;
        transition: all 0.2s ease;
        span {
            opacity: 1;
        }
    }
}

.action {
    font-weight: bold;
    @include heading-lm;
    &:first-child {
        color: red;
    }
    &:last-child {
        color: green;
    }
}

.noPadding {
    padding-left: 0;
}
