
$border-white: 1px solid #FFFFFF;
$border-black: 1px solid #000000;
$border-malachite: 1px solid #03D269;
$border-transparent: 1px solid transparent;
$border-dodger_blue: 1px solid #018EEC;
$border-light_gray: 1px solid #F7FAFF;
$border-cod_gray:1px solid #111111;
$border-mine_shaft:1px solid #222222;
$border-catskill_white: 1px solid #E1EAF1;

$border-blaze_orange:#FF6400;

$border-mariner: 1px solid #4468B2;
$border-facebook: 1px solid #4468B2;

$border-mosque: 1px solid #075E54;
$border-whatsapp: 1px solid #075E54;

$border-blueberry_gelato: #00b5ce;

$border-input_radio: 1.5px solid #999999;

$borders: (
    light: (
        default: $border-catskill_white,
        transparent: $border-transparent,
        input_radio: $border-input_radio,

        button-full: (
            1: (
                hollow: $border-malachite,
                block: $border-malachite
            ),
            2: (
                hollow: $border-dodger_blue,
                block: $border-dodger_blue
            ),
            3: (
                hollow: $border-blaze_orange,
                block: $border-blaze_orange
            )
        ),
    ),
    dark: (
        default: $border-mine_shaft,
        transparent: $border-transparent,
        input_radio: $border-input_radio,
        button-full: (
            1: (
                hollow: $border-malachite,
                block: $border-malachite
            ),
            2: (
                hollow: $border-dodger_blue,
                block: $border-dodger_blue
            ),
            3: (
                hollow: $border-blaze_orange,
                block: $border-blaze_orange
            )
        ),
    )
);