
$box-shadows: (
    light: (
        phone: (
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 10px 10px -10px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 15px rgba(0, 0, 0, 0.4),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        ),
        tablet: (
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 10px 10px -10px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 15px rgba(0, 0, 0, 0.4),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        ),
        desktop: (
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 10px 10px -10px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 15px rgba(0, 0, 0, 0.4),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        )
    ),
    dark: (
        phone: (
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 10px 10px -10px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 15px rgba(0, 0, 0, 0.4),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        ),
        tablet: (
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 10px 10px -10px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 15px rgba(0, 0, 0, 0.4),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        ),
        desktop: (
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 10px 10px -10px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 15px rgba(0, 0, 0, 0.4),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        )
    )
);
