
$box-shadows: (
    light: (
        phone: (
            sidenav: 0px 4px 12px rgba(0, 0, 0, 0.08),
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 5px 16px -9px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 12px rgba(0, 0, 0, 0.55),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        ),
        tablet: (
            sidenav: 0px 4px 12px rgba(0, 0, 0, 0.08),
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 10px 10px -9px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 12px rgba(0, 0, 0, 0.55),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        ),
        desktop: (
            sidenav: 0px 4px 12px rgba(0, 0, 0, 0.08),
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.45),
            button: 0px 5px 16px -9px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 12px rgba(0, 0, 0, 0.55),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        )
    ),
    dark: (
        phone: (
            sidenav: none,
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.65),
            button: 0px 10px 10px -9px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 12px rgba(0, 0, 0, 0.55),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        ),
        tablet: (
            sidenav: none,
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.65),
            button: 0px 10px 10px -9px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 12px rgba(0, 0, 0, 0.55),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        ),
        desktop: (
            sidenav: none,
            default: 0px 0px 11px -2px rgba(0, 0, 0, 0.65),
            button: 0px 10px 10px -9px rgba(0, 0, 0, 0.75),
            button_hover: 0 4px 12px rgba(0, 0, 0, 0.55),
            button_active: 0 1px 1px rgba(0, 0, 0, 0.1),
            inset-default: inset 0px 0px 11px -2px rgba(0, 0, 0, 0.45)
        )
    )
);
