

$color-black:#000000;
$color-white:#FFFFFF;

$color-alizarin:#eb1926;

$color-facebook: #4468b2;

$color-whatsapp: #075e54;

$color-rgb-white: 255;
$color-rgb-black: 0;

$color-cerulean: #0097e6;
$color-fruit_salad: #50a354;
$color-chestnut_rose: #cf5248;
$color-affair: #8e4d99;

$color-night_rider: #2d2d2d;
$color-text_gray: #7d7d7d;
$color-cod_gray: #111111;
$color-noble: #b3b3b3;

$color-mercury: #e6e6e6;
$color-concrete: #f3f1f1;

$color-river_bed: #4a5568;
$color-pizazz: #ff8800;

$colors: (
    light: (
        default: $color-black,
        reverse: $color-noble,

        heading-l: $color-cod_gray,
        heading-lm: $color-cod_gray,
        heading-m: $color-night_rider,
        heading-sm: $color-night_rider,
        heading-s: $color-night_rider,

        subText-l: $color-text_gray,
        notice: $color-noble,
        read-only: $color-text-gray,
        label: $color-fruit_salad,

        button-full: (
            1: (
                hollow: $color-cerulean,
                block: $color-white
            ),
            2: (
                hollow: $color-fruit_salad,
                block: $color-white
            ),
            3: (
                hollow: $color-chestnut_rose,
                block: $color-white
            ),
            4: (
                hollow: $color-affair,
                block: $color-white
            ),
            caution: (
                hollow: $color-alizarin,
                block: $color-white
            ),
            wa: (
                hollow: $color-whatsapp,
                block: $color-white
            )
        ),

        tag: (
            1: $color-river_bed,
            hover: (
                1: $color-pizazz
            )
        ),

        shadow: $color-rgb-black
    ),
    dark: (
        default: $color-white,
        reverse: $color-river_bed,

        heading-l: $color-mercury,
        heading-lm: $color-concrete,
        heading-m: $color-white,
        heading-sm: $color-white,
        heading-s: $color-white,

        subText-l: $color-text_gray,
        notice: $color-mercury,
        read-only: $color-text-gray,
        label: $color-fruit_salad,

        button-full: (
            1: (
                hollow: $color-cerulean,
                block: $color-white
            ),
            2: (
                hollow: $color-fruit_salad,
                block: $color-white
            ),
            3: (
                hollow: $color-chestnut_rose,
                block: $color-white
            ),
            4: (
                hollow: $color-affair,
                block: $color-white
            ),
            caution: (
                hollow: $color-alizarin,
                block: $color-white
            ),
            wa: (
                hollow: $color-whatsapp,
                block: $color-white
            )
        ),

        tag: (
            1: $color-river_bed,
            hover: (
                1: $color-pizazz
            )
        ),

        shadow: $color-rgb-white
    )
);
