

$color-black:#000000;
$color-white:#FFFFFF;

$color-alizarin:#eb1926;

$color-facebook: #4468b2;

$color-whatsapp: #075e54;

$color-rgb-white: 255;
$color-rgb-black: 0;

$color-cerulean: #0097e6;
$color-fruit_salad: #50a354;
$color-chestnut_rose: #cf5248;
$color-affair: #8e4d99;


$colors: (
    light: (
        default: $color-black,

        button-full: (
            1: (
                hollow: $color-cerulean,
                block: $color-white
            ),
            2: (
                hollow: $color-fruit_salad,
                block: $color-white
            ),
            3: (
                hollow: $color-chestnut_rose,
                block: $color-white
            ),
            4: (
                hollow: $color-affair,
                block: $color-white
            ),
            caution: (
                hollow: $color-alizarin,
                block: $color-white
            ),
            wa: (
                hollow: $color-whatsapp,
                block: $color-white
            )
        ),

        shadow: $color-rgb-black
    ),
    dark: (
        default: $color-white,

        button-full: (
            1: (
                hollow: $color-cerulean,
                block: $color-white
            ),
            2: (
                hollow: $color-fruit_salad,
                block: $color-white
            ),
            3: (
                hollow: $color-chestnut_rose,
                block: $color-white
            ),
            4: (
                hollow: $color-affair,
                block: $color-white
            ),
            caution: (
                hollow: $color-alizarin,
                block: $color-white
            ),
            wa: (
                hollow: $color-whatsapp,
                block: $color-white
            )
        ),

        shadow: $color-rgb-white
    )
);
