@import "@css/layouts/container.scss";
@import "@css/components/texts.scss";
@import "@css/layouts/mediaQueries.scss";
@import "@css/layouts/flexBox.scss";
@import "@css/layouts/boxShadows.scss";
@import "@css/components/animations.scss";

.container {
    @include full-container;
    overflow: hidden;
    position: relative;
}

.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-image: url("https://fyp-images-narvitaa.s3.ap-south-1.amazonaws.com/resources/test.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.main {
    height: 100%;
    width: 100%;
    z-index: 2;
    @include flex-center;
}

.accessContainer {
    @include card-background;
    @include reverse-color;
    @include responsive-flex;
    @include respond-above(screen) {
        width: 60vw;
        justify-content: center;
        align-items: center;
    }
    @include respond-between(desktop, screen) {
        width: 60vw;
        height: 18vw;
        justify-content: center;
        align-items: center;
    }
    @include respond-between(tablet, desktop) {
        width: 75vw;
        height: 25vw;
        justify-content: center;
        align-items: center;
    }
    @include respond-between(phone, tablet) {
        width: 100vw;
        height: 30vw;
        justify-content: center;
        border-radius: 0;
        align-items: center;
    }
    @include respond-below(phone) {
        width: 100vw;
        @include default-background;
    }
    max-height: 300px;
    padding: 12px;
    border-radius: 3px;
}

.formContainer {
    flex: 0 0 50%;
    @include respond-below(phone) {
        flex: 0 0 100%;
        flex-grow: 1;
    }
    position: relative;
}

.form {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    @include default-border;
    @include default-background;
    @include box-shadow-default;
    @include flex-center;
    border-radius: 3px;
    overflow: hidden;
    height: 450px;
    @include respond-below(phone) {
        position: static;
        border: none !important;
        transform: none;
    }
}

.right {
    right: 30px;
    @include animation($name:bounce-left, $duration: 2.5s, $timing-function: cubic-bezier(0.28, 0.84, 0.42, 1));
    @include respond-below(phone) {
        animation: none;
    }
}

.left {
    left: 30px;
    @include animation($name:bounce-right, $duration: 2.5s, $timing-function: cubic-bezier(0.28, 0.84, 0.42, 1));
    @include respond-below(phone) {
        animation: none;
    }
}

.content {
    padding-left: 30px;
    h3 {
        @include heading-lm;
        @include subText-l-color;
    }
    p {
        @include normal-content-size;
        @include subText-l-color;
    }
    button {
        width: 100px !important;
    } 
    @include respond-below(phone) {
        padding: 0;
        @include flex-column;
        justify-content: center;
        align-items: center
    }
}

.noMember {
    @include heading-lm;
    padding-bottom: 12px;
}
