@import "@css/layouts/container.scss";
@import "@css/components/texts.scss";
@import "@css/layouts/flexBox.scss";
@import "@css/layouts/boxShadows.scss";

.participant {
    @include box-shadow-default;
    @include flex;
    @include default-border;
    border-radius: 4px;
    padding: 8px;
    justify-content: space-between;
    min-width: 175px;
    &:not(:last-child) {
        margin-right: 12px;
    }
    div {
        @include flex;
        cursor: pointer;
        align-items: center;
        p {
            @include heading-sm;
            margin-left: 4px;
        }
    }
    .icon {
        position: relative;
        i {
            cursor: pointer;
        }
    }
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.popup {
    width: 100%;
    cursor: pointer;
    flex-grow: 1;
    padding-left: 8px;
    @include small-content-size
}
