@import "@css/layouts/container.scss";
@import "@css/layouts/mediaQueries.scss";
@import "@css/components/texts.scss";
@import "@css/components/buttons.scss";
@import "@css/layouts/flexBox.scss";
@import "@css/layouts/boxShadows.scss";

.container {
    @include flex-center;
    @include default-background;
    flex-direction: column;
    border-radius: 5px;
    padding: 25px 30px 40px 30px;
    @include box-shadow-default;
    @include respond-below(phone) {
        width: 80%;
        margin: auto;
    }
}

.shieldContainer {
    padding-bottom: 20px;
}

.shieldIcon {
    @include text-super-large;
    transform: scale(1.5);
    @include subtext-color;
}

.labelMain {
    padding-bottom: 10px;
    @include heading-lm;
    @include default-color;
    @include respond-below(phone){
        @include heading-m;
    }
}

.labelSub {
    padding-bottom: 10px;
    @include heading-sm;
    @include subtext-color;
    @include respond-below(phone){
        @include heading-s;
    }
}

.otpContainer {
    flex-grow: 1;
    gap: 20px;
    @include flex;
    div {
        input {
            width: 100% !important;
            text-align: center;
        }
    }
}

.otpCell {
    font-weight: bolder;
    padding: 3px;
    border-radius: 8px;
    @include default-border;
    @include respond-above(desktop) {
        font-size: $font-size-screen-m;
    }
    @include respond-between(tablet, desktop) {
        font-size: $font-size-desktop-m;
    }
    @include respond-between(phone, tablet) {
        font-size: $font-size-tablet-m;
    }
    @include respond-below(phone) {
        font-size: $font-size-phone-sm;
    }
    input {
        background: inherit;
        height: 100% !important;
        @include heading-lm;
        @include default-color;
    }
}

.otpInputsContainer {
    .inputContainer {
        flex-grow: 1;
    }
    .resendOtpCon {
        max-width: 30%;
        @include flex;
        align-items: flex-start;
        @include default-color;
    }
}

.buttonContainer {
    margin: 20px auto 0;
    width: 100%;
}

.flexCenter {
    @include responsive-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    @include respond-above (phone) {
        button {
            width: 150px !important;
            float: right;
        }
    }
    @include respond-below(phone) {
        flex-direction: column-reverse;
        gap: 10px
    }
    
}

.resendOTP {
    @include heading-sm;
    @include subtext-color;
    min-width: 50%;
    cursor: pointer;
}