@import "../theme/boxShadows";

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        box-shadow: inset $top $left $blur $color;
    } @else {
        box-shadow: $top $left $blur $color;
    }
}

@mixin box-shadow-default($inset: false) {
    @if $inset {
        @each $theme, $map in $box-shadows {
            :global(.#{$theme}) & {
                @include respond-above(tablet) {
                    $box-shadow: map-get($map, tablet);
                    box-shadow: map-get($box-shadow, inset-default);
                }
                @include respond-between(phone, tablet) {
                    $box-shadow: map-get($map, tablet);
                    box-shadow: map-get($box-shadow, inset-default);
                }
                @include respond-below(phone) {
                    $box-shadow: map-get($map, tablet);
                    box-shadow: map-get($box-shadow, inset-default);
                }
            }
        }
    } @else {
        @each $theme, $map in $box-shadows {
            :global(.#{$theme}) & {
                @include respond-above(tablet) {
                    $box-shadow: map-get($map, tablet);
                    box-shadow: map-get($box-shadow, default);
                }
                @include respond-between(phone, tablet) {
                    $box-shadow: map-get($map, tablet);
                    box-shadow: map-get($box-shadow, default);
                }
                @include respond-below(phone) {
                    box-shadow: none;
                }
            }
        }
    }
}

@mixin box-shadow-sidenav() {
    @each $theme, $map in $box-shadows {
        :global(.#{$theme}) & {
            @include respond-above(tablet) {
                $box-shadow: map-get($map, tablet);
                box-shadow: map-get($box-shadow, sidenav);
            }
            @include respond-between(phone, tablet) {
                $box-shadow: map-get($map, tablet);
                box-shadow: map-get($box-shadow, sidenav);
            }
            @include respond-below(phone) {
                $box-shadow: map-get($map, phone);
                box-shadow: map-get($box-shadow, sidenav);
            }
        }
    }
}
