@import './mediaQueries';
@import '../theme/backgrounds';
@import './flexBox.scss';

@mixin full-container {
    width: 100vw;
    height: 100vh;
    @include flex-center;
}

@mixin main-container {
    @include respond-above(desktop) {
        margin: 3.91vw 0 0 3.47vw;
        &.guest {
            margin: 3.86vw 0 0 0;
        }
        min-height: calc(100vh - 3.86vw - 7.5vw)
    }
    @include respond-between(tablet, desktop) {
        margin: 4.86vw 0 0 4.31vw;
        &.guest {
            margin: 4.86vw 0 0 0;
        }
        min-height: calc(100vh - 4.86vw - 7.54vw)
    }
    @include respond-between(phone, tablet) {
        margin: 8.5vw 0 0 0;
        min-height: calc(100vh - 8.6vw - 14.6vw)
    }
    @include respond-below(phone) {
        margin: 13.2vw 0 0 0;
        min-height: calc(100vh - 13.2vw - 20vw - 19vw)
    }
}

@mixin default-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, card-background);
        }
    }
}

@mixin card-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, card-background);
        }
    }
}

@mixin highlight-backbground {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, highlight);
        }
    }
}

@mixin from_text-backbground {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, chat-from-background);
        }
    }
}

@mixin to_text-backbground {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, chat-to-background);
        }
    }
}

@mixin default-overlay-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, overlay);
        }
    }
}

@mixin card-loader-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, cardLoader);
        }
    }
}

@mixin text-loader-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, textLoader);
        }
    }
}

@mixin image-loader-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, imageLoader);
        }
    }
}

@mixin card-container {
    @include card-background;
    border-radius: 10px;
}

@mixin avatar-border {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border: map-get($map, avatar_border);
        }
    }
}

@mixin default-border {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border: map-get($map, default);
        }
    }
}

@mixin default-border-top {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border-top: map-get($map, default);
        }
    }
}

@mixin default-border-right {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border-right: map-get($map, default);
        }
    }
}

@mixin default-border-bottom {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border-bottom: map-get($map, default);
        }
    }
}
