@import "./mediaQueries";
@import "../theme/backgrounds";
@import "./mediaQueries.scss";
@import "./flexBox.scss";
@import "../theme/borders";

@mixin full-container {
    width: 100vw;
    height: 100vh;
    @include flex-center;
    @include respond-below(phone) {
    }
}

@mixin main-container {
    @include respond-above(desktop) {
        margin: 0 0 0 3.47vw;
        &.guest {
            margin: 3.86vw 0 0 0;
        }
        min-height: calc(100vh);
    }
    @include respond-between(tablet, desktop) {
        margin: 0 0 0 3.31vw;
        &.guest {
            margin: 4.86vw 0 0 0;
        }
        min-height: calc(100vh);
    }
    @include respond-between(phone, tablet) {
        margin: 8.5vw 0 0 0;
        min-height: calc(100vh - 8.6vw);
    }
    @include respond-below(phone) {
        margin: 13.2vw 0 0 0;
        min-height: calc(100vh - 13.2vw);
    }
}

@mixin default-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, default);
        }
    }
}

@mixin card-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, card-background);
        }
    }
}

@mixin highlight-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, highlight);
        }
    }
}

@mixin default-border_radio {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border: map-get($map, input_radio);
        }
    }
}

@mixin from_text-backbground {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, chat-from-background);
        }
    }
}

@mixin to_text-backbground {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, chat-to-background);
        }
    }
}

@mixin default-overlay-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, overlay);
        }
    }
}

@mixin picture-background-overlay-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, picture-background);
        }
    }
}

@mixin nedass-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, nedass);
        }
    }
}

@mixin card-loader-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, cardLoader);
        }
    }
}

@mixin text-loader-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, textLoader);
        }
    }
}

@mixin image-loader-background {
    @each $theme, $map in $backgrounds {
        :global(.#{$theme}) & {
            background: map-get($map, imageLoader);
        }
    }
}

@mixin card-container {
    @include card-background;
    border-radius: 10px;
}

@mixin avatar-border {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border: map-get($map, avatar_border);
        }
    }
}

@mixin default-border {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border: map-get($map, default);
        }
    }
}

@mixin default-border-top {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border-top: map-get($map, default);
        }
    }
}

@mixin default-border-right {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border-right: map-get($map, default);
        }
    }
}

@mixin default-border-bottom {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border-bottom: map-get($map, default);
        }
    }
}

@mixin input-border-bottom {
    @each $theme, $map in $borders {
        :global(.#{$theme}) & {
            border-bottom: map-get($map, input);
        }
    }
}
