@mixin position-fixed-top{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
}

@mixin position-fixed-left{
    position: fixed;
    left: 0;
    bottom: 0;
    top:0;
}

@mixin position-fixed-right{
    position: fixed;
    right: 0;
    bottom: 0;
    top:0;
}

@mixin position-absolute-top-left{
    position: absolute;
    left: 0;
    top:0;
}

@mixin position-absolute-top-right{
    position: absolute;
    right: 0;
    top:0;
}