@import "icomoon.css";
@import "@css/layouts/container.scss";

/* vietnamese */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aivHZ47LTdNwPak.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8amvHZ47LTdNwPak.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v3/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevHZ47LTdNwA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
div,
img,
a,
ul,
ol,
li,
input,
button,
p,
section {
  box-sizing: border-box;
}

img[data-src] {
  opacity: 0;
  font-size: 0;
}

img[src].lazyloaded {
  font-size: 0;
  opacity: 1;
  transition: opacity 0.6s ease;
}

label {
  cursor: pointer;
}

html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.toastConatiner {
  position: relative;
  z-index: 1102;
}

.light {
  background: #fff;
  color: #000;

  ::-webkit-scrollbar-track {
    background: none;
    &:hover {
      background: #f1f1f1;
    }
  }
}

.dark {
  background: #121212;
  color: white;

  ::-webkit-scrollbar-track {
    background: none;
    &:hover {
      background: #010101;
    }
  }
}

a {
  text-decoration: none;
  outline: 0;
}

li,
ul {
  list-style: none;
}

article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

:focus {
  outline: 0;
  border: 0;
}

input[type="submit"]:active,
input[type="submit"]:focus {
  outline: 0;
}

[readonly="readonly"] {
  pointer-events: none;
  caret-color: transparent;
}

input {
  border: 0;
  outline: 0;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

input:focus,
input:required,
textarea:focus,
textarea:required {
  outline: 0;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button:focus {
  outline: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: Muli, Lato, sans-serif;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
  font-weight: normal;
  overflow: hidden;
  &:hover,
  &:active,
  &:focus {
    overflow: auto;
  }
}

input[type="Reset"],
input[type="submit"] {
  -webkit-appearance: none;
}

img {
  width: auto;
  height: auto;
  border: 0;
  max-width: 100%;
}

.select {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  background: {
    image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1255/caret--down-15.png");
    position: right;
    repeat: no-repeat;
  }
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  @include default-background;
}
::-webkit-scrollbar-thumb {
  background-color: #8e4d9988;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  @include default-background;
}
