@import "icomoon.css";

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Muli"), url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Muli"), url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
div,
img,
a,
ul,
ol,
li,
input,
button,
p,
section {
  box-sizing: border-box;
}

img[data-src] {
  opacity: 0;
  font-size: 0;
}

img[src].lazyloaded {
  font-size: 0;
  opacity: 1;
  transition: opacity 0.6s ease;
}

label {
  cursor: pointer;
}

html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.toastConatiner {
  position: relative;
  z-index: 1102;
}

.light {
  background: #fff;
  color: #000;

::-webkit-scrollbar-track {
  background: none;
  &:hover {
    background: #f1f1f1;
  }
}

}

.dark {
  background: #121212;
  color: white;

::-webkit-scrollbar-track {
  background: none;
  &:hover {
    background: #010101;
  }
}

}

a {
  text-decoration: none;
  outline: 0;
}

li,
ul {
  list-style: none;
}

article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

:focus {
  outline: 0;
  border: 0;
}

input[type="submit"]:active,
input[type="submit"]:focus {
  outline: 0;
}

[readonly="readonly"] {
  pointer-events: none;
  caret-color: transparent;
}

input {
  border: 0;
  outline: 0;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

input:focus,
input:required,
textarea:focus,
textarea:required {
  outline: 0;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button:focus {
  outline: 0;
  border: 0;
}

html {
  // scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /*!overflow-x: hidden;*/
}
body {
  font-family: Muli, Lato, sans-serif;
  -webkit-text-size-adjust: 100%;
  // scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /*!overflow-x: hidden;*/
  word-wrap: break-word;
  font-weight: normal;
}

input[type="Reset"],
input[type="submit"] {
  -webkit-appearance: none;
}

img {
  width: auto;
  height: auto;
  border: 0;
  max-width: 100%;
}

.select {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  background: {
    image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1255/caret--down-15.png");
    position: right;
    repeat: no-repeat;
  }
}

// ::-webkit-scrollbar {
//   width: 8px;
// }
// ::-webkit-scrollbar-thumb {
//   background: #8e4d99aa;
//   border-radius: 8px;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #8e4d99;
// }
