@import "@css/layouts/flexBox.scss";
@import "@css/layouts/container.scss";
@import "@css/components/texts.scss";

.container {
    margin: auto;
    display: block;
    border-radius: 3px;
    padding: 45px 30px;
    @include default-background;
    @include respond-above(desktop) {
        width: 26vw;
        max-width: 1200px;
    }
    @include respond-between(tablet, desktop) {
        width: 33vw;
        max-width: 1000px;
    }
    @include respond-between(phone, tablet) {
        width: 45vw;
        max-width: 800px;
    }
    @include respond-below(phone) {
        width: 100%;
    }
}

.form {
    @include default-background;
    width: 100%;
}

.subHead {
    color: #8e4d99;
}

.flexCenter {
    @include responsive-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    @include respond-above (phone) {
        button {
            width: 150px !important;
            float: right;
        }
    }
    @include respond-below(phone) {
        flex-direction: column-reverse;
        gap: 10px
    }
    
}

.forgotPassword {
    @include heading-sm;
    min-width: 50%;
    cursor: pointer;
}

.iconOn, .iconOff {
    @include heading-m;
}

.iconOff {
    @include subtext-color;
}

.iconOn {
    color: indianred;
}

.userIcon {
    @include heading-m;
    color: #0097e6;
}