@import "@css/layouts/positions.scss";
@import "@css/components/texts.scss";
@import "@css/layouts/mediaQueries.scss";
@import "@css/layouts/container.scss";
@import "@css/layouts/flexBox.scss";
@import "@css/layouts/boxShadows.scss";


.hamburger {
    @include position-fixed-left;
    width: 4.31vw;
    height: 4.31vw;
    display: none;
    z-index: 1003;
}

.aside {
    @include position-fixed-left;
    @include sidebar-background;

    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 1007;

    @include respond-above(tablet){
        &:hover {
            .sidebar {
                width: 300px;
            }
            .link{
                transform: translateX(0);
            }
            &+ .overlay.overlay {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }
}

.sidebar {
    width: 4.31vw;
    display: flex;
    height: 100%;
    flex-flow: column;
}

.contents {
    display: flex;
    align-items: center;
    flex-flow: column;
    transition: width 0.4s ease;
    will-change: width;
    flex-grow: 1;
}

.linkContainer {
    display: flex;
    height: 4vw;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: $color-affair;
    cursor: pointer;

    &.logo {
        height: 5vw;
    }

    .fullLogo {
        height: 5vw;
        transform: scale(1.4);
    }

    .shortLogo {
        min-width: 4.31vw;
        width: 4.31vw;
        padding: 1.3vw 1.3vw 1.3vw 0.3vw;
        height: 5vw;
        @include respond-below(desktop) {
            padding: 1vw;
        }
    }

    &.active, &:hover {
        color: #000;
        background: #cab7d1;

        .iconContainer, .shortLogo {
            background: #cab7d1;
        }

        .link {
            color: #000;
        }
    }
    
}

.iconContainer{
    min-width: 4.31vw;
    height: 4vw;
    @include flex-center;
    @include sidebar-background;
    position: relative;
    z-index: 1;
}
.shortLogo {
    @include sidebar-background;
    position: relative;
    z-index: 1;
}

.header {
    @include highlight-background;
}

.icon {
    transition: none;
    @include respond-above(tablet) {
        &.dashboard_material {
            font-size: 1.6vw;
        }        
        &.user {
            font-size: 1.8vw;
        }
        &.theme {
            font-size: 1.5vw;
        }
        &.logout_material {
            font-size: 1.4vw;
        }
        &.forum  {
            font-size: 1.7vw;
        }
        &.send {
            font-size: 1.5vw;
        }
        &.calendar {
            font-size: 1.5vw;
        }
        &.groups {
            font-size: 1.6vw;
        }
    }
    @include respond-between(phone, tablet) {
        &.dashboard_material {
            font-size: 3vw
        }
        &.user {
            font-size: 3vw;
        }
        &.theme {
            font-size: 2.5vw;
        }
        &.logout_material {
            font-size: 2.4vw;
        }
        &.forum  {
            font-size: 2.65vw;
        }
        &.send {
            font-size: 2.3vw;
        }
        &.calendar {
            font-size: 2.2vw;
        }
        &.groups {
            font-size: 2.4vw;
        }
    }
    @include respond-below(phone) {
        &.dashboard_material {
            font-size: 4.5vw
        }
        &.groups {
            font-size: 5.4vw;
        }
        &.user {
            font-size: 5vw;
        }
        &.theme {
            font-size: 4.6vw;
        }
        &.logout_material {
            font-size: 4.6vw;
        }
        &.forum  {
            font-size: 4.5vw;
        }
        &.send {
            font-size: 4.5vw;
        }
        &.calendar {
            font-size: 4.5vw;
        }
    }
}

.language {
    cursor: auto;
}

.link {
    flex-grow: 1;
    transform: translateX(-300px);
    white-space: nowrap;
    color: $color-affair;
    transition: transform 0.4s ease;
}

.overlay {
    position: fixed;
    bottom: 0;
    top:0;
    right:0;
    left: 0;
    @include default-overlay-background;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    pointer-events: none;
    will-change: opacity, visibility;
    z-index: 1006;

}

@include respond-above(desktop) {
    .sidebar{
        width: 3.47vw;
    }
    .iconContainer {
        min-width: 3.47vw;
        height: 4vw;
    }
}

@include respond-below(tablet) {
    
    .hamburger{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 8.6vw;
        left:4.3vw;
    }
    .aside {
        transform: translateX(-300px);
        box-shadow: none;
        transition: transform 0.4s ease;
        will-change: transform;

        &.open.open {
            transform: translateX(0);

            .link{
                opacity: 1;
            }
            &+ .overlay.overlay {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }
    
    .sidebar {
        width: 300px;
    }

    .linkContainer {
        height: 8.6vw;

        &.logo {
            height: 8.6vw;
        }
        .fullLogo {
            height: 8.6vw;
        }
    
        .shortLogo {
            min-width: 8vw;
            padding: 2vw;
            width: 8vw;
            height: 8.6vw;
        }
    }
    .link {
        transform: none;
        transition: opacity 2s ease;
    }
    .iconContainer{
        width: 8vw;
        height: 8.6vw;
    }
    .icon {

        &.menu{
            font-size: 2vw;
        }
    }
}


@include respond-below(phone) {
    .hamburger{
        height: 13.2vw;
    }
    .linkContainer {
        height: 13.2vw;
        &.logo {
            height: 13.2vw;
        }
        .fullLogo {
            height: 13.2vw;
        }
    
        .shortLogo {
            width: 13.2vw;
            min-width: 13.2vw;
            height: 13.2vw;
            padding: 3vw;
        }
    }
    .iconContainer{
        width: 13.2vw;
        height: 13.2vw;
    }
    .icon {
        font-size: 6vw;
        &.menu{
            font-size: 4vw;
        }
    }
}

.menu {
    @include default-color;
}

.loggo {
    flex-grow: 1;
    @include flex-center;
    margin-right: 30px;
}

.logoutContainer {
    transform: rotate(180deg);
}

.logoutArea {
    padding-bottom: 32px;
}
