@import "@css/layouts/flexBox.scss";
@import "@css/components/texts.scss";

.emptyContainer {
    padding-top: 5vw;
    height: 100%;
    align-items: center;
    text-align: center;
    @include flex-column;
    @include subText-s-color;
    @include heading-m;
    p {
        padding-top: 16px;
        @include label-color;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.emptyImage {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 32px;
}
