@import "@css/layouts/container.scss";

.mainContainer {
    @include main-container;
    &.profile {
        margin-top: 0 !important;
    }
}

.mainTarget {
    pointer-events: none;
    > *:hover {
        pointer-events: none;
    }
}
